<%= form_with model: [ @task, @task.sub_tasks.build] do |form| %>

  <p>
    <%= form.label :summary %><br>
    <%= form.text_field :summary %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
