<fieldset>
<p>
  <strong>Summary:</strong>
  <%= sub_task.summary %>
</p>

<p>
  <strong>Text:</strong>
  <%= sub_task.text %>
</p>

<p>
  <strong>Due date sub_tasks:</strong>
  <%= sub_task.due_date %>
<p/>

<p>
  <strong>Important:</strong>
  <%= sub_task.important %>
</p>


<table>
  <tr>
    <td><%= link_to 'Edit sub_task', edit_task_sub_task_path(task_id: @task.id, id: sub_task.id) %></td>
    <td><%= link_to 'Destroy', [sub_task.task, sub_task],
                              method: :delete,
                              data: { confirm: 'Are you sure?'} %></td>
  </tr>
</table>
</fieldset>
